doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://cdn.tailwindcss.com") 
        script(src="https://kit.fontawesome.com/f56ab63edd.js" crossorigin="anonymous") 
        script(src="/js/script.js") 
    body.grid.grid-column-5.text-xl
        h1.text-4xl.mt-4.mx-auto Snus Clicker
        .h-8.border-2.mx-auto.my-8
            p.text-xl#cookieCounter= `Du har ${cookies} prillor`
        button.w-64.h-64.border-2.border-slate-800.mx-auto.my-2.rounded-full#clickButton(onclick="clickCounter()")
        h2.text-xl#clickCounter.ml-4.absolute= `Counter: ${clicks}`
