html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.tailwindcss.com") 
        script(src="https://kit.fontawesome.com/f56ab63edd.js" crossorigin="anonymous") 
        script(src="/js/script.js") 
        title Register Page
    body
        .w-full.bg-teal.h-16.drop-shadow-lg.py-2.flex.justify-start.drop-shadow-lg  
            a(href="home").w-12.h-12.absolute 
            i.fa-solid.fa-arrow-left.text-4xl.my-auto.mx-2
        .border-2.w-72.h-72.border-slate-800.rounded-xl.mx-auto.my-24.bg-blue-100
            h1.text-4xl.text-center.my-4 Login!
                form(action="/authenticate-login" method="POST").border-2.w-64.grid.grid-rows-3.mx-auto.text-xl.mt-10
                    input(type="text" placeholder="Username" name="username", required).border-2.rounded-lg.border-slate-800.my-1.h-8.pl-2.w-52.mx-auto
                    .grid.grid-column-2
                        input(type="password" placeholder="Password" id="password" name="password", required).border-2.rounded-lg.border-slate-800.my-1.h-8.pl-2.w-52.mx-auto
                        i.fa-solid.fa-eye.opacity-50.absolute.mx-52.my-3.cursor-pointer.text-base#eye
                    input(type="submit" value="Login").border-2.rounded-lg.border-slate-800.my-1.h-8.pl-1.w-52.mx-auto.bg-white.cursor-pointer